div#city-div {
    background-color: #eeeeee;
    height: auto;
    width:fit-content;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
    border-color:cornsilk;
  }

  #greet {

    text-decoration: underline;
    color: darkslategray;
    font-weight: bolder;
  }
  
  #clickInstruct {
    font-weight: bolder;
    color:burlywood;
  }
  .semi-invisible {
    visibility: hidden;
  }
  .brewery-class-info {
    display: block;
    
  }
  .wishList-show {
    width:fit-content;
    height:auto;
    background-color:lightgreen;
    box-shadow: 5px 5px seagreen;
    border-color: grey;
  }
  .favoriteList-show {
    width:fit-content;
    height: auto;
    background-color:lightgoldenrodyellow;
    border-color: grey;
    box-shadow: 5px 5px goldenrod;
  }

  h3#wishListHeader{
    text-decoration:underline;
    color:seagreen;
    text-align:center;
  }
  h3#favoriteListHeader{
    text-decoration:underline;
    color:goldenrod;
    text-align:center;
  }
  #user-form {
    position:right;
  }