div#city-div {
    background-color: #eeeeee;
    height: auto;
    width:fit-content;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
    border-color:cornsilk;
  }

  #greet {
    text-decoration: underline;
    color: darkslategray;
    font-weight: bolder;
  }
  
  #clickInstruct {
    font-weight: bolder;
    color:rgb(224, 219, 213);
  }

  .semi-invisible {
    visibility: hidden;
  }

  .brewery-class-info {
    display: block;
    
  }

  .wishList-show {
    width:fit-content;
    height:auto;
    background-color:lightgreen;
    box-shadow: 5px 5px seagreen;
    border-color: grey;
    
  }

  .favoriteList-show {
    width:fit-content;
    height: auto;
    background-color:lightgoldenrodyellow;
    border-color: grey;
    box-shadow: 5px 5px goldenrod;
  }

  h3#wishListHeader{
    text-decoration:underline;
    color:seagreen;
    text-align:center;
  }

  .wishList-show:hover{
    font-size: 1.2em;
  }

  .favoriteList-show:hover{
    font-size: larger;

  }

  button:hover{
    
    color: rgb(6, 41, 71);
    border-width: 3pt;
    border-color:beige;
  }

  #searchcity:hover{
    border-width: 3pt;
    border-color:beige;
  }

  h3#favoriteListHeader{
    text-decoration:underline;
    color:goldenrod;
    text-align:center;
  }
  input[type=text] {
    width: 100px;
    transition: ease-in-out, .44s width ease-in-out;
  }

  input[type=text]:focus {
    width: 250px;
  }
 
  #user-form {
    position:right;
  }

   body {
    background-color: burlywood;
  }
  h4#welcoming {
    color:brown;
  }